<div>
    <h5>Edição de produtos</h5>
    <p>Utilize o formulário para alterar os dados do produto.</p>
    <hr />

    <form [formGroup]="formEdicao" (ngSubmit)="onSubmit()">

        <input type="hidden" formControlName="idProduto" />

        <div class="row mb-2">
            <div class="col-md-8">
                <label>Nome do Produto:</label>
                <input type="text" class="form-control" formControlName="nome"/>
                <div class="text-danger" *ngIf="form.nome.touched && form.nome.invalid">
                    <span *ngIf="form.nome.errors.required">
                        Por favor, informe o nome do produto.
                    </span>
                    <span *ngIf="form.nome.errors.pattern">
                        Por favor, informe somente letras, números e de 8 a 150 caracteres. 
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Preço:</label>
                <input type="text" class="form-control" formControlName="preco" />
                <div class="text-danger" *ngIf="form.preco.touched && form.preco.invalid">
                    <span *ngIf="form.preco.errors.required">
                        Por favor, informe o preço do produto.
                    </span>
                    <span *ngIf="form.preco.errors.min">
                        Por favor, informe um valor maior ou igual a 1.
                    </span>
                </div>
            </div>
            <div class="col-md-2">
                <label>Quantidade:</label>
                <input type="number" class="form-control" formControlName="quantidade" />
                <div class="text-danger" *ngIf="form.quantidade.touched && form.quantidade.invalid">
                    <span *ngIf="form.quantidade.errors.required">
                        Por favor, informe a quantidade do produto.
                    </span>
                    <span *ngIf="form.quantidade.errors.min">
                        Por favor, informe um valor maior ou igual a 1.
                    </span>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-12">
                <label>Descrição do produto:</label>
                <textarea class="form-control" formControlName="descricao"></textarea>
                <div class="text-danger" *ngIf="form.descricao.touched && form.descricao.invalid">
                    <span *ngIf="form.descricao.errors.required">
                        Por favor, informe uma descrição para o produto.
                    </span>
                    <span *ngIf="form.descricao.errors.pattern">
                        Por favor, informe somente letras, números e de 8 a 150 caracteres. 
                    </span>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-12">
                <input type="submit"
                       [disabled]="!formEdicao.valid" 
                       class="btn btn-primary me-2" 
                       value="Salvar Alterações"
                       
                       />
                <a class="btn btn-light" routerLink="/produtos-consulta">Ir para a consulta</a>
            </div>
        </div>  

    </form>

</div>