<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand">ProdutosApp</a>
        <button class="navbar-toggler" type="button" data-bs-
            toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">


            <ul class="navbar-nav" *ngIf="!isAuthenticated">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" 
                       routerLink="login">
                        Acessar Sistema
                    </a>
                </li>
            </ul>


            <ul class="navbar-nav" *ngIf="isAuthenticated">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" 
                        id="gerenciarProdutosDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Gerenciar Produtos
                    </a>
                    <ul class="dropdown-menu" aria-
                        labelledby="gerenciarProdutosDropdown">
                        <li><a class="dropdown-item" 
                             routerLink="produtos-cadastro">
                            Cadastrar Produtos</a></li>
                        <li><a class="dropdown-item" 
                               routerLink="produtos-consulta">
                                  Consultar Produtos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" 
                        id="gerenciarMovimentacoesDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Gerenciar Movimentações
                    </a>
                    <ul class="dropdown-menu" aria-
                         labelledby="gerenciarMovimentacoesDropdown">
                        <li><a class="dropdown-item" 
                           routerLink="movimentacoes-cadastro">
                             Cadastrar Movimentações</a></li>
                        <li><a class="dropdown-item" 
                           routerLink="movimentacoes-consulta">
                             Consultar Movimentações</a></li>
                    </ul>
                </li>
            </ul>
        </div>


        <div class="navbar-text" *ngIf="isAuthenticated">
    
            <span class="text-light">{{nome}}</span>
            <span class="text-light"> | </span>
            <span class="text-light">{{email}}</span>
   
            <button (click)="logout()" class="btn 
               btn-outline-secondary text-white ms-2">
               Sair do Sistema
            </button>
        </div>
    </div>
</nav>


<div class="container">
    <div class="card m-3">
        <div class="card-body">
            <!-- exibir o conteudo das demais páginas -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
    